 
 
 .dialogs {
   display: grid;  
    grid-template-columns: 2fr 10fr;

   grid-area: c;
   background-color: blanchedalmond;
   color: red;
   font-size: 25px;
    .dialogs_items {
        padding: 10px;
        color: white;
    }

    // .dialog {
    
    // }

    .messages .message{
        padding: 10px;
        color: white;
    }

    // .message{

    // }


 } 

 

 

 

 